.card{
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 15px 45px rgba(0, 0, 0, .25);
    overflow: hidden;
    transition: 0.5s ease-in-out;
    margin-left: 38px;
    border-radius: 8px;
}
.card:hover{
    width: 600px;
}
.card .imgBox{
    position: relative;
    min-width: 300px;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.card .imgBox img{
    width: 85%;
}
.card .details{
    position: relative;
    min-width: 300px;
    background: #cce3de;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #000;

}
.card .details::before{
    content: "";
    position: absolute;
    left: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #fff;
}
.card .details .description p{
    font-family:var(--fuenteParrafo);
    font-weight: 300;
    font-size: .8em;
}
.card .details .btn a, .card .details .title h3{
    font-family:var(--fuenteParrafo);
    font-weight: 400;
    font-size: .9em;
    color: #000;
}
.card .details .buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .details .buy .price{
    font-size: 1.5em;
    color: #000;
}
.card .details .btn {
    background-color: transparent;
    font-weight: 800;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: #a4c3b2;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #ccc,
    -.5rem -.5rem 1rem #fff;
}
.card .details .btn:hover{
    box-shadow: .5rem .5rem 1rem #fff,
    -.5rem -.5rem 1rem #ccc;
}
.card .details .btn:active{
    box-shadow:inset .5rem .5rem 1rem #fff,
    inset -.5rem -.5rem 1rem #ccc;
}

@media (max-width:769px){
    .card{
        display: inline-block;
        width: auto;
        height: 300px;
        overflow: auto;
        margin-left: 0;
    }
    .card .imgBox{
        position: static;
        min-width: 50px;
        width: 100%;
        height: auto;
        display: initial;
    }
    .card .imgBox img{
        min-width: 200px;
        width: 100%;
        height: 120px;
        /* display: block; */
    }
    .card .details{
        position: static;
        min-width: 200px;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .card .details .description p{
        font-weight: 300;
        font-size: x-small;
        margin:0 15px 0 0;
        /* text-align: center; */
    }
    .card .details .btn a, .card .details .title h3{
        font-weight: 400;
        font-size: .7em;
    }
    .card .details .buy{
        position: absolute;
        bottom: 0;
    }
    .card .details .buy .price{
        font-size: 1em;
        color: #000;
    }
    .card .details .btn {
        background-color: transparent;
        font-weight: 600;
        font-size: .7rem;
        padding: .5rem 1rem;
        margin: 0 20px 0 62px;
        border-radius: 5rem;
        box-shadow: .3rem .3rem .8rem #ccc,
        -.3rem -.3rem .8rem #fff;
    }
    .card .details .title small{
        font-weight: 300;
        font-size: x-small;
    }
}