.body-cart{
    background-color: #a4c3b2;
}
.body-cart h3{
  font-family:var(--fuenteParrafo);
  display: flex;
  justify-content: center;
}
.body-cart main .chosen-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.body-cart main .chosen-products .product-container{
    background-color: #eaf4f4;
    border: 1px solid #cce3de; 
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin: 6px;
}
.body-cart main .chosen-products .p-img img{
    width: 100%;
}
.body-cart main .chosen-products .product-container .p-details{
    margin-left: 4px;
    font-size: 12px;
    color: #313131;
}
.body-cart main .chosen-products .product-container .p-details .p-amount{
   display: flex;
   justify-content: center;
   justify-content: space-around;
}
.body-cart main .chosen-products .product-container .p-details .p-amount .mas,
.body-cart main .chosen-products .product-container .p-details .p-amount .menos{
    cursor: pointer;
}
.body-cart main .chosen-products .product-container .trash-container{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 4px 0;
}
.body-cart main .chosen-products .product-container .trash-container .fa-trash{
    color: #313131;
    font-size: 20px;
    
}
