main{
    max-width: 95%;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: var(--principalFont);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4, h5{
    font-family: var(--secondaryFont);
}
body{

    background: var(--naranjaDegrade);
}
@media (max-width:460px){
    main{
        margin-top: 75px;
    }
}

