a{
    text-decoration: none;
    color: black;

}
body{
    box-sizing: border-box;
    background:linear-gradient(180deg, #FFA200 0%, rgba(255, 162, 0, 0.3) 100%);
    font-family: var(--fuenteSubtitulos);
}
h1,h2,h3,h4,h5{
    font-family: var(--fuenteTitulos);
}
@media (max-width:460px){
    main{
        margin-top: 75px;
    }
}