body.bodyHome{
  /* background-color: #EAF4F4; */
  background-image: url("../img/imgBodyHome.jpg");
  background-size: contain;
}
.home h3, .home li a{
  font-family:var(--fuenteParrafo);
  font-weight: 500;
  text-transform: uppercase;
}
.home h3{
  margin-top: 25px;
}
.home h1{
  font-family:var(--fuenteParrafo);
  text-align: center;
}
.home p{
 /*  font-family:var(--secondaryFont); */
  font-weight: 100;
  font-size: medium;
  
}
.home .section1{
  margin: 50px 0;
  box-shadow: 4px 6px 19px 1.5px rgb(10 10 0 / 75%);
}
.home .section1 div{
  background-color: rgba(118, 173, 143, .2);
  color: #fff;
  text-align: center;
}
.home .section1 div p{
  color: #062030;
  font-weight: 500;
}




/* -----Carrousel with Swiper----- */
  .home .swiper_bg{
    /* background-image: url(../img/fondoHome2.jpg); */
    width: 100%;
    height: 400px;
    top: 60px;
    left: 0;
    /* right: 0; */
    background-size: cover;
    position: absolute;
  }


  .home .swiper {
   width: 100%;
   height: 300px;
   margin: 50px 0;
   box-shadow: 0px 0px 30px 5px rgb(255 255 255 / 75%);
   background-color: #dee2e6;
   border: #cfcfcf .2px solid;
   border-radius: 10px;
  }
  .home .img_slides1{
    width: 100%;
    height: 325px;
  }

  .home .img_p{
    /* display: none; */
    /* top: -8px; */
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: inherit;
    font-family:var(--fuenteParrafo);
    font-weight: 500;
    font-size: 13px;
    color: beige;
    background-color: rgba(0, 0, 0, .5)
  }


/* Medias Queries */



/* Tablet */


@media (min-width:461px){
  .home .destacados .tablet, .home .destacados .mobile{
    display: block;
    width: 31%;
  }
  .home p {
    font-size: larger;
    letter-spacing: .4px;
  }
  .home .section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .home .section1 div{
    width: 45%;
  }
  .home .section1 div img{
    width: 100%;
  }
  .home .sliderSection{
    display: flex;
    justify-content: center;
  }  
  #home-slider > ul.slider li img{
    object-fit: none;
  }
  #home-slider > ul{
    height: 250px;
    width: 340px;
  }
  .home .ubiSection h3{
    margin: 18px auto;
    padding-top: 20px;
  }
  .home .ubiSection{
    border-top: .4px solid grey;
    width: 400px;
    margin: 0 auto 20px auto;
  }
  #home-slider{
    height: 500px;
  }
  .home .img_p{
    font-size: 18px;
  }
}



@media (min-width:769px){
  .home .destacados .tablet,
  .home .destacados .mobile,
  .home .destacados article{
    width: 23%;
    display: block;
    padding: 8px;

  }
  .home .destacados article:hover{
    box-shadow : 0px 0px 10px #646464;
    transition: all 100ms;
  }
  .home p{
    font-size: 1.5rem;
  }
  .home .banner img{
    width: 350px;
  }
  .home .section1{
    justify-content: space-between;
  }
  .home .section1 div{
    width: 33%;
  }
  .home #home-slider{
    width: 550px;
}}

