
.home h3, .home li a{
/*   font-family:var(--principalFont) ; */
  font-weight: 600;
  text-transform: uppercase;
}
.home h3{
  margin-top: 25px;
}
.home p{
 /*  font-family:var(--secondaryFont); */
  font-weight: 100;
  font-size: medium;
}
.home .banner img{
    width: 250px;
  }
  .home .banner{
    display: flex;
    justify-content: center;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* ------------ DESTACADOS ------------*/
.home h1{
  margin-left: 25px;
  background: linear-gradient(90deg, #ffd000 0%, rgba(255, 162, 0, 0.3) 100%);
  height: 50px;
  width: 345px;
  padding: 10px;
}
.home .ofertas {
  width: 165px;
}
.home .destacados{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px 5px;
  position: relative;
}
.home .destacados article{
  display: none;
}
.home .destacados .mobile{
  display: block;
  width: 45%;
}
.home .destacados article div img{
  width: 100%;
}
.home .destacados article h3{
  text-align: center;
  margin-bottom: 15px;
}
.home .destacados article p{
  text-align: justify;
}
.home .destacados article .ver-mas{
  display: block;
  text-align: center;
  margin: 10px 20% 0;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  color: #FFA200;
  font-weight: bold;
}
.home .destacados i{
  font-size: 25px;
  position: absolute;
  top: 55%;
}
.home .destacados i.fa-arrow-circle-left{
  left: -7px;
}
.home .destacados i.fa-arrow-circle-right{
  right: -7px;
}



/* ------------ */





.home .section1{
    text-align: center;
}
.home .section1 p{
    margin: 10px 6px;
}
.home .section1 div img{
    margin: 15px 0 10px 0;
    border-radius: 15px;
    max-width: fit-content;
}


/* Carrousel with Swiper */


  .home .swiper {
   width: 100%;
   height: 300px;
   margin: 20px 0;
   box-shadow: 3px 6px 16px 1px rgb(100 100 0 / 75%);
  }
  .home .img_slides{
    width: 100%;
    height: 250px;
    object-fit: scale-down;
  }

  .home .img_p{
    position: absolute;
    top: -8px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    /* background-color: rgba( 0, 0, 0, 0.3); */
    width: 100%;
  }
  .home .eyes_container{
   font-size: 30px;
  }



/* Medias Queries */



/* Tablet */


@media (min-width:461px){
  .home .destacados .tablet, .home .destacados .mobile{
    display: block;
    width: 31%;
  }
  .home p {
    font-size: larger;
    letter-spacing: .4px;
  }
  .home .section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .home .section1 div{
    width: 45%;
  }
  .home .section1 div img{
    width: 100%;
  }
  .home .sliderSection{
    display: flex;
    justify-content: center;
  }  
  #home-slider > ul.slider li img{
    object-fit: none;
  }
  #home-slider > ul{
    height: 250px;
    width: 340px;
  }
  .home .ubiSection h3{
    margin: 18px auto;
    padding-top: 20px;
  }
  .home .ubiSection{
    border-top: .4px solid grey;
    width: 400px;
    margin: 0 auto 20px auto;
  }
  #home-slider{
    height: 500px;
  }
}/* Ojo aca, si se pone un ";" no funcionan las media queries de abajo */



@media (min-width:769px){
  .home .destacados .tablet,
  .home .destacados .mobile,
  .home .destacados article{
    width: 23%;
    display: block;
    padding: 8px;

  }
  .home .destacados article:hover{
    box-shadow : 0px 0px 10px #646464;
    transition: all 100ms;
  }
  .home p{
    font-size: 1.5rem;
  }
  .home .banner img{
    width: 350px;
  }
  .home .section1{
    justify-content: space-between;
  }
  .home .section1 div{
    width: 33%;
  }
  .home #home-slider{
    width: 550px;
}}

