.login main {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 60px;

}

.login main h1 {
    text-align: center;
    font-family: var(--fuenteTitulos)
}

.login main .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: var(--fuenteSubtitulos);
}

.login main .container label {
    margin-bottom: 5px;
    text-align: left;
    font-family: var(--fuenteSubtitulos)
}

.login main .container input {
    width: 80%;
    padding: 10px;
    font-family: var(--fuenteSubtitulos)
}

.login main .container small {
    margin-top: 5px;
    text-align: left;
    color: #f20808;
    font-family: var(--fuenteSubtitulos)
}

.login main h2 {
    font-family: var(--fuenteSubtitulos);
    text-align: center;
    margin-top: 15px;
}

.login main h4 {
    text-align: center;
    font-family: var(--fuenteSubtitulos);
    color: #000000;
}

.login main button {
    padding: 15px;
    background-color: #d0770a;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 170px;
    text-align: center;
    font-family: var(--fuenteSubtitulos)
}

.login .bottom {
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--fuenteSubtitulos)
}

.login main a {
    color: #000000;
    font-family: var(--fuenteSubtitulos)
}

/* Tablet */

@media (min-width:461px) {
    .login main button {
        padding: 15px;
        background-color: #d0770a;
        color: black;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        width: 170px;
        text-align: center;
        font-family: 'Mukta', sans-serif;

    }
}

/*Desktop*/

@media(min-width :768px) {
    .login main button {
        padding: 10px;
        background-color: #d0770a;
        color: black;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        width: 170px;
        text-align: center;
        font-family: var(--fuenteSubtitulos)
    }
}