@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,800;1,900&display=swap');
:root{
    --fuenteTitulos: 'Teko', sans-serif;
    --fuenteSubtitulos: 'Mukta', sans-serif;
    --fuenteParrafo: 'Montserrat', 'sans-serif';
    --fontT2: 'Asap', 'sans-serif';
    --naranjaDegrade: linear-gradient(180deg, #FFA200 0%, rgba(255, 162, 0, 0.3) 100%);
}