<!-- <div class="cardContainer"> -->
<div class="card">
    <div class="imgBox">
        <img src="..\img\products\organic-Twin.jpg" alt="img of Product" srcset="">
    </div>
    <div class="details">
        <div class="title">
            <h3>nombre del producto</h3>
            <small>categoria del producto</small>
        </div>
        <div class="description">
            <p>descripcion del producto descripcion del producto descripcion del producto descripcion del producto descripcion del producto</p>
        </div>
        <div class="buy">
            <div class="price">
                <sup>$</sup>
                <span>350</span>
            </div>
            <button class="btn">
                <a href="">Comprar</a>
            </button>
        </div>
    </div>
</div>
<!-- </div>    -->
