<footer id="footer">
    <div class="social">
      <div><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></div>
      <div><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></div>
      <div><a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a></div>
      <div><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></div>
      <div><a href="https://www.gmail.com/" target="_blank"><i class="fa-solid fa-at"></i></a></div>
    </div>
      <p>Copyright © 2022 GNUMPlack. Todos los derechos reservados.</p>
  </footer>
  
  
  
  
