<header class="header">

  <div class="logo">
  <a href="/">
      <img src="/img/logoGNUMPlack.jpg" alt="logo de GNUMPlack" class="logoImg">
  </a>
  </div>

<div class="organizing">

  <% if (locals.userLogin && locals.userLogin.categories_users_id === 2) { %>
    <div class="adminIcon">
      <a href="/admin/list"><i class="fa-solid fa-wand-magic-sparkles"></i></a>
    </div>
<% } %>
  
    <form action="/product/search" method="get">
        <input type="text" name="search" id="search" class="searchBar" placeholder="Busque aquí...">
        <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
    </form>
  
  
    <div class="cart-container">
      <a class="cart" href="cart">
          <% if (locals.userLogin) { %>
          <i class="fa-solid fa-cart-shopping cart"></i>
        </a>
        <% } %>
    </div>

  <button class="menu-toggle">
      <i class="fas fa-bars"></i>
  </button>
  

  <nav id="menu">
          <ul>
            <% if (locals.userLogin) { %>
              <li><a href="/user/profile">Bienvenido <%= locals.userLogin.first_name %> </a></li>
              <li><a href="/product">Productos</a></li>
              <li><a href="/aboutUs">Sobre Nosotros</a></li>
              <li><a href="#footer">Contáctanos</a></li>
              <li class="session"><form action="/user/logout?_method=DELETE" method="post">
                <button type="submit">Cerrar Sesión</button>
            </form></li>
            <% } else{%>
              <li><a href="/user/login">Iniciar Sesión</a></li>
              <li><a href="/user/signin">Regístrate</a></li>
              <li><a href="/product">Productos</a></li>
              <li><a href="/aboutUs">Sobre Nosotros</a></li>
              <li><a href="#footer">Contáctanos</a></li>
              <% } %>             
          </ul>
  </nav>

</div>
  <script src="./js/header.js"></script>
  
  
</header>