<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/142c29101d.js" crossorigin="anonymous"></script>
</head>

<body class="aboutUs">
    <header class="header">

        <div class="logo">
            <a href="/" class="linkLogo">
                <img src="img/logoGNUMPlack.jfif" alt="logo de GNUMPlack" class="logoImg">
            </a>
        </div>

        <div class="searchBar">
            <input type="text" placeholder="¿Que desea buscar?" id="bar">
            <i class="fa-solid fa-magnifying-glass lupa"></i>
        </div>

        <div class="nav-menu">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn"><i class="fa-solid fa-bars menu-icon"></i></label>
            <ul>
                <li><a href="login">Iniciar Sesión</a></li>
                <li><a href="signin">Regístrate</a></li>
                <li><a href="product">Productos</a></li>
                <li><a href="aboutUs">Sobre Nosotros</a></li>
                <li><a href="#footer">Contáctanos</a></li>
            </ul>
        </div>
        <a class="cart" href="cart">
            <i class="fa-solid fa-cart-shopping cart"></i>
            </a>
    </header>
    <main>

        <h1>GNUMPlack</h1>
        <h2>Una compañía familiar con más de 45 años en soluciones antihumedad.</h2>
        <section>
            <div>
                <img src="/img/about_hero_1.jpg" alt="">
            </div>
            <p>Desde 1975, somos la compañía Argentina pionera en fabricación e instalación de revestimientos
                decorativos antihumedad y cielorrasos decorativos incombustibles. Hemos creado La Solución Antihumedad
                con 10 años de garantía, una tecnología exclusiva que a través de placas, absorbe la humedad de los
                muros y la microevapora, creando una solución permanente que no deja manchas ni olores en el ambiente.
                Actualmente, contamos con una red de más de 100 franquicias en Argentina, Uruguay, Paraguay, Chile y
                Perú.</p>
        </section>
        <h2>Unión y cooperación</h2>
        <section class="reverse">
            <div>
                <img src="/img/cutout_228954_popup_landscape_4x3_1.jpg" alt="">
            </div>
            <p>Como fabricante líder nacional e internacional de materiales de construcción modernos hechos de yeso,
                materiales aislantes, piezas moldeadas, embalajes, equipos de construcción y productos químicos para la
                construcción, nos consideramos socios de nuestros clientes, la mayoría de los cuales han estado con
                nosotros durante muchos años. años. Ya sea nuestro know-how, nuestros productos, nuestras soluciones de
                sistema, nuestros completos servicios de consultoría o nuestro soporte, todo tiene un único propósito:
                el cliente tiene una idea. Y lo haremos realidad. Juntos.</p>
        </section>
        <h2>Nuestra filosofía: Crear hogares felices y saludables</h2>
        <section>
            <div>
                <img src="/img/about_philosophy.jpg" alt="">
            </div>
            <p>Estamos convencidos que los hogares son el núcleo de la familia. Desde nuestra compañía tenemos un fuerte
                compromiso por ayudar a solucionar los problemas comunes que tienen las familias en sus hogares, y que
                las afectan tanto en lo emocional como en su salud.<br>Hoy, cada familia, cuenta con la posibilidad de
                culminar con la humedad de su hogar y es parte de nuestra tarea, ayudarlas a que eso suceda.</p>
        </section>
        <h2>Fundadores de GNUMPlack Web</h2>
        <section class="reverse">
            <div>
                <img src="/img/c49ac350-1a1a-4eba-bc31-9dcbe25437e7.jpg" alt="">
            </div>
            <p>Un buen diseño hace la vida mejor. Somos expertos en diseño web y entrenados en desarrollo web para la
                industria digital. Ofrecemos un servicio personalizado, profesional y confiable.<br>Somos un equipo
                ganador de diseño web ubicada en San Miguel, Buenos Aires. Nos especializamos en diseño web, desarrollo
                web y ecommerce. Con más de una década de experiencia, GNUM está integrada por un equipo fresco,
                vibrante y energético con talento creativo, conocimiento de la industria y estándares de calidad muy
                altos.<br>Trabajamos con startups ambiciosas y con empresas de alcance global como Digital House,
                Craftsy y Kitchening; podemos ajustarnos a tus necesidades sin problemas.</p>
        </section>
    </main>

    <footer id="footer">
        <div class="social">
            <div><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></div>
            <div><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></div>
            <div><a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a></div>
            <div><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></div>
            <div><a href="https://www.gmail.com/" target="_blank"><i class="fa-solid fa-at"></i></a></div>
        </div>
        <p>Copyright © 2022 GNUMPlack. Todos los derechos reservados.</p>
    </footer>
</body>

</html>