<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>

    <%- include("./partials/header") %> 

    <main class="detail">
        <h1>Los Cleaneo Akustik Linear de Knauf</h1>
        <article class="descripcion">
            <p>tienen un borde de rebaje continuo para una colocación exacta sin rellenar las juntas, así como una
                lámina de
                cartón en blanco nuclear a modo de recubrimiento directo. Las dimensiones de placa precisas establecen
                la
                distancia adecuada entre perforaciones de forma automática al colocar la placa al tope.</p>
            <div class="placas">
                <img src="/img/cutout_123566_detail_picture_1.jpg" alt="placa de yeso">
            </div>

            <div class="lista">

                <h3>Ventajas especiales:</h3>
                <li>-Propiedades de absorción acústica.</li>
                <li>-Aplicación sencilla.</li>
                <li>-Cartón en blanco nuclear por el lado visible.</li>
                <li>-No es preciso rellenar las juntas</li>
                <li>-Facilidad en el pasaje de instalaciones.</li>
                <li>-Excelente calidad de terminación.</li>
                <div class="button">
                    <span>$2500</span>
                    <input type="button" value="añadir a carrito">
                </div>
            </div>

        </article>
    </main>

    <%- include("./partials/footer") %> 
    
</body>

</html>