<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="login">
    <main class="login">
        <h1>LOGIN</h1>
        <form action="" method="post">
            <h2 class="container bottom"></h2>
            <div class="container bottom">
                <label for="name">Email</label>
                <input type="text" name="name" id="name" placeholder="Ingresa tu email">
                <small>obligatorio</small>
            </div>
            <div class="container bottom">
                <label for="name">Contraseña</label>
                <input type="password" name="pass" id="pass" placeholder="Ingresa tu contraseña">
                <small>obligatorio</small>
            </div>
            <h2 class="bottom"></h2>
            <div class="bottom">
                <input type="checkbox" name="recordame" id="recordame" value="Recordame">
                <label for="R">Recordame</label>
            </div>
            <h2 class="bottom"></h2>
            <div class="bottom">
                <button type="submit">Entrar</button>
                <button type="reset">Cancelar</button>
             </div>

            <h4><a href="/contraseña">¿has olvidado tu contraseña?</a></h4>
            <h4><a href="/registrate">¿no tienes cuenta? Registrate</a></h4>
        </form>
    </main>
    
</body>
</html>