<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7c3a0709de.js" crossorigin="anonymous"></script>
</head>
<body class="login">
    <header class="header">

        <div class="logo">
        <a href="/" class="linkLogo">
            <img src="/img/logoGNUMPlack.jfif" alt="logo de GNUMPlack" class="logoImg">
        </a>
        </div>

        <div class="searchBar">
            <input type="text" placeholder="¿Que desea buscar?" id="bar">
            <i class="fa-solid fa-magnifying-glass lupa"></i>  
        </div>

        <div class="nav-menu">
            <input type="checkbox" id="check">    
            <label for="check" class="checkbtn"><i class="fa-solid fa-bars menu-icon"></i></label>
                <ul>
                    <li><a href="login">Iniciar Sesión</a></li>
                    <li><a href="signin">Regístrate</a></li>
                    <li><a href="product">Productos</a></li>
                    <li><a href="aboutUs">Sobre Nosotros</a></li>
                    <li><a href="#footer">Contáctanos</a></li>
                </ul>
        </div> 
        <a class="cart" href="cart">
            <i class="fa-solid fa-cart-shopping cart"></i>
            </a>
    </header>
    <main class="login">
        <h1>LOGIN</h1>
        <form action="" method="post">
            <h2 class="container bottom"></h2>
            <div class="container bottom">
                <label for="name">Email</label>
                <input type="text" name="name" id="name" placeholder="Ingresa tu email">
                <small>obligatorio</small>
            </div>
            <div class="container bottom">
                <label for="name">Contraseña</label>
                <input type="password" name="pass" id="pass" placeholder="Ingresa tu contraseña">
                <small>obligatorio</small>
            </div>
            <h2 class="bottom"></h2>
            <div class="bottom">
                <input type="checkbox" name="recordame" id="recordame" value="Recordame">
                <label for="R">Recordame</label>
            </div>
            <h2 class="bottom"></h2>
            <div class="bottom">
                <button type="submit">Entrar</button>
                <button type="reset">Cancelar</button>
             </div>

            <h4><a href="/contraseña">¿has olvidado tu contraseña?</a></h4>
            <h4><a href="/registrate">¿no tienes cuenta? Registrate</a></h4>
        </form>
    </main>
    <footer id="footer">
        <div class="social">
          <div><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></div>
          <div><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></div>
          <div><a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a></div>
          <div><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></div>
          <div><a href="https://www.gmail.com/" target="_blank"><i class="fa-solid fa-at"></i></a></div>
        </div>
          <p>Copyright © 2022 GNUMPlack. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>
