<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/142c29101d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">

        <div class="logo">
        <a href="/" class="linkLogo">
            <img src="img/logoGNUMPlack.jfif" alt="logo de GNUMPlack" class="logoImg">
        </a>
        </div>

        <div class="searchBar">
            <input type="text" placeholder="¿Que desea buscar?" id="bar">
            <i class="fa-solid fa-magnifying-glass lupa"></i>  
        </div>

        <div class="nav-menu">
            <input type="checkbox" id="check">    
            <label for="check" class="checkbtn"><i class="fa-solid fa-bars menu-icon"></i></label>
                <ul>
                    <li><a href="login">Iniciar Sesión</a></li>
                    <li><a href="signin">Regístrate</a></li>
                    <li><a href="product">Productos</a></li>
                    <li><a href="aboutUs">Sobre Nosotros</a></li>
                    <li><a href="#footer">Contáctanos</a></li>
                </ul>
        </div> 
        <a class="cart" href="cart">
            <i class="fa-solid fa-cart-shopping cart"></i>
            </a>
    </header>
    <main class="product">
        <h1>Productos</h1>
        <section>
            <article class="contenedor">
                <h3><a href="/detailOfProduct" target="_blank">Placa De Yeso Knauf 12,5mm 1.20 X 2.40 MtsStandard</a></h3>
                <div>
                    <img class="placas" src="img/cutout_123566_detail_picture_1.jpg" alt="placa de yeso" >
                </div>
            </article>
            <article class="contenedor">
                <h3><a href="detailOfProduct.html" target="_blank">Placa Yeso Knauf Rf 15mm 1,20x2,40 Roja Ignifuga</a></h3>
                <div>
                    <img class="placas" src="https://http2.mlstatic.com/D_NQ_NP_644413-MLA32401709864_102019-O.jpg" alt="placa de yeso">
                </div>
            </article>
            <article class="contenedor">
                <h3><a href="detailOfProduct.html" target="_blank">Placa Durlock Verde Resistente A La Humedad 12.5mm 1.20x2.40</a></h3>
                <div>
                    <img class="placas" src="https://http2.mlstatic.com/D_NQ_NP_806283-MLU46756778448_072021-V.jpg" alt="placa de yeso">
                </div> 
            </article>
            <article class="contenedor">
                <h3><a href="detailOfProduct.html" target="_blank">Placa Yeso Std Knauf 12,5mm 1,20 X 2,00m Cielorraso</a></h3>
                <div>
                    <img class="placas" src="https://www.ontil.com.uy/imagenes/img_contenido/productos/a/5000071713.jpg" alt="placa de yeso">
                </div> 
            </article>
        </section>
    </main>
    <footer id="footer">
        <div class="social">
          <div><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></div>
          <div><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></div>
          <div><a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a></div>
          <div><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></div>
          <div><a href="https://www.gmail.com/" target="_blank"><i class="fa-solid fa-at"></i></a></div>
        </div>
          <p>Copyright © 2022 GNUMPlack. Todos los derechos reservados.</p>
      </footer>
</body>

</html>