<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body class ="profile">
    <%- include('../partials/header') %> 
    <main>
        <img src="/img/users/<%= locals.userLogin.image %> "alt="">
        <h1>Hola <%= `${locals.userLogin.category} ${locals.userLogin.name}` %> </h1>

        <form action="/users/logout?_method=DELETE" method="post">
           <button type="submit"> Cerrar Sesion</button>
        </form>

    </main>
</body>
</html>