<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body class ="profile">
    <%- include('../partials/header') %> 
    <main>

        <section>
            <article class="container-top">
                <div>
                <h2>MI PERFIL</h2>
                <h4>email@email.com</h4>
                <img src="/img/users/<%= locals.userLogin.image %> "alt="" class="user-image">
                </div>
            </article>
            <article>
                <div class="container-component">
                <div class="container-accountNav">
                    <a href="/" target="_blank" rel="noopener noreferrer">
                    <img class="accountNav-bg" title="Visualizá y editá tus datos personales" alt="micuenta_datos.jpg" src="https://medias.musimundo.com/medias/?context=bWFzdGVyfGltYWdlc3w0MjI4NHxpbWFnZS9qcGVnfGltYWdlcy9oYjMvaDhjLzg3OTYyNDYyNDU0MDYuanBnfDhhZDMzY2Q1MDM3M2FjMmNlOGQzNTJjZjQyYmUzY2E1ZTAyMGNmZjcxOTE0MDRjNDNkZTJjMGRlZDdlOWY0YmE">
                   </a>
                   <div class="account-data">
                    <h5 class="headline">Mis datos personales</h5>
                    
                    <p class="lead">Visualizá y editá tus datos personales</p>
                   </div>
                </div>
                </div>
                <div class="container-component">
                    <div class="container-accountNav">
                        <a href="/" target="_blank" rel="noopener noreferrer">
                        <img class="accountNav-bg shop-img" title="Mis compras" alt="Mis compras" src="/img/profile/myPurchases.jpg">
                       </a>
                       <div class="account-data">
                        <h5 class="headline">Mis compras</h5>
                        <p class="lead">Visualizá tus compras</p>
                       </div>
                    </div>
                    </div>
            </article>

        </section>
        

        <form action="/user/logout?_method=DELETE" method="post">
            <button type="submit"> Cerrar Sesion</button>
        </form>

    </main>
</body>
</html>